In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
cc_df = pd.read_csv('creditcard.csv')

In [3]:
cc_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# dataset informations
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
cc_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
cc_df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [7]:
valid = cc_df[cc_df.Class == 0]
fraud = cc_df[cc_df.Class == 1]

In [8]:
valid.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
cc_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
isValid = valid.sample(n=492)

In [13]:
new_df = pd.concat([isValid, fraud], axis=0)

In [14]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
48133,43509.0,0.975545,-1.924902,0.392574,-1.107948,-2.065114,-0.836555,-0.780163,-0.192405,-1.628346,...,-0.214995,-0.933011,-0.049730,0.322452,0.000214,-0.435956,-0.014659,0.075268,285.70,0
75026,55865.0,1.131987,-0.212247,0.659011,0.947905,-0.789929,-0.355830,-0.311829,0.119043,0.875849,...,-0.053164,0.006492,-0.007516,0.423345,0.401085,0.452230,-0.013859,0.009119,19.99,0
237295,149177.0,-1.019358,-0.973081,1.690842,-1.189551,-0.108281,-0.188017,-0.477975,0.218351,-1.222757,...,0.459648,0.899712,-0.167948,-0.385783,0.566176,0.221348,0.003137,0.068369,99.00,0
197858,132213.0,1.992171,-0.199659,-1.661517,0.672552,0.022949,-1.394967,0.491214,-0.392775,0.563794,...,-0.016493,0.000051,0.047506,0.061256,0.152202,0.376930,-0.100650,-0.069057,49.99,0
66865,52252.0,0.628992,-2.340443,0.367057,-1.065253,-2.128768,-0.549967,-0.577184,-0.184316,-2.146048,...,-0.041334,-0.737686,-0.187062,0.513952,-0.062754,-0.486789,-0.036685,0.096412,435.70,0

In [17]:
new_df['Class'].value_counts()
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93814.412602,-0.012613,-0.089845,-0.000524,-0.091130,0.012894,0.053025,-0.084301,0.060036,-0.047949,...,0.004947,0.005916,-0.044024,0.014560,-0.02137,0.042911,0.019562,-0.027757,-0.020205,86.952012
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [20]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
48133,43509.0,0.975545,-1.924902,0.392574,-1.107948,-2.065114,-0.836555,-0.780163,-0.192405,-1.628346,...,0.171021,-0.214995,-0.933011,-0.049730,0.322452,0.000214,-0.435956,-0.014659,0.075268,285.70
75026,55865.0,1.131987,-0.212247,0.659011,0.947905,-0.789929,-0.355830,-0.311829,0.119043,0.875849,...,-0.259540,-0.053164,0.006492,-0.007516,0.423345,0.401085,0.452230,-0.013859,0.009119,19.99
237295,149177.0,-1.019358,-0.973081,1.690842,-1.189551,-0.108281,-0.188017,-0.477975,0.218351,-1.222757,...,0.621229,0.459648,0.899712,-0.167948,-0.385783,0.566176,0.221348,0.003137,0.068369,99.00
197858,132213.0,1.992171,-0.199659,-1.661517,0.672552,0.022949,-1.394967,0.491214,-0.392775,0.563794,...,-0.247750,-0.016493,0.000051,0.047506,0.061256,0.152202,0.376930,-0.100650,-0.069057,49.99
66865,52252.0,0.628992,-2.340443,0.367057,-1.065253,-2.128768,-0.549967,-0.577184,-0.184316,-2.146048,...,0.575928,-0.041334,-0.737686,-0.187062,0.513952,-0.062754,-0.486789,-0.036685,0.096412,435.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [21]:
Y

48133     0
75026     0
237295    0
197858    0
66865     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train, Y_train)

LogisticRegression()

In [27]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [28]:
training_data_accuracy

0.9186785260482846

In [29]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
test_data_accuracy

0.9086294416243654